:root {
  --primary-color1: #495e57;
  --primary-color2: #f4ce14;
  --secondary-color1: #F8F8F8;
  --secondary-color2: #fbdabb;
  --secondary-white: #edefee;
  --secondary-gray: #333333;
}
body {
  margin: 0;
  padding: 0;
  font-family: markazi, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 800;
}
.extra-bold {
  font-weight: 900;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.w-50 {
  width: 50%;
}

.karla {
  font-family: karla;
}
.display-title {
  font-size: 64px;
}
.subtitle {
  font-size: 40px;
}

.cta-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color2);
  font-weight: 600;
  font-size: 18px;
}
.cta-button:hover {
  background-color: var(--secondary-color2);
}

@media screen and (max-width: 500px) {
  .cta-button {
    width: 140px;
    font-size: 14px;
  }
}
